pytest-cov==6.0.0
pytest-django==4.10.0
inflect==7.5.0
colorama==0.4.6
mkdocs-autorefs
mkdocs-get-deps
mkdocs-material
mkdocs-material-extensions
mkdocs-redirects
mkdocs-static-i18n
mkdocstrings
mkdocstrings-python